MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=yupi
MYSQL_USERNAME=msa_user
MYSQL_ROOT_PASSWORD=change_me
MYSQL_PASSWORD=change_me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=msa_user
RABBITMQ_DEFAULT_PASS=change_me
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
MSA_BASE_URL=http://127.0.0.1:8000
MSA_CALLBACK_BASE_URL=http://backend:8080/api
MSA_CALLBACK_TOKEN=change_me_to_a_random_secret
MSA_UPLOAD_MAX_VIDEO_SIZE_MB=200
MSA_SUBMIT_LIMIT=5000
MSA_SUBMIT_WINDOW_SECONDS=60
MSA_WORKER_CONCURRENCY=2
